<!doctype html>
<html>
  <head>
      <title>nodeStorm - HOST</title>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/jquery-2.1.1.min.js"></script>
      <script src="/javascripts/host.js"></script>
      <link rel="stylesheet" href="/stylesheets/font-awesome-4.2.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Sebastian Baumgarten">
  </head>
  <body class="host">
  <div class="container">
      <div class="header">
          <ul class="nav nav-pills pull-right">
              <li class="text-muted">
                  <h3>
                      <small><i id="connection" class="fa fa-circle"></i> node Server__</small>
                      HOST
                  </h3>
              </li>
          </ul>
          <h3 class="text-muted">nodeStorm
              <small>v0.3.2</small>
          </h3>
      </div>
      <div class="meta">
          <span id="ip"></span>
          <span id="disconnected" style="display: none"><i class="fa fa-circle-o-notch fa-spin"></i> trying to reconnect ... </span>
      </div>
      <div class="row">
          <div class="col-lg-6 panel left">
              <div class="row">
                  <div class="col-lg-12">
                      <p class="lead">Stellen Sie eine Frage an die Studenten!</p>
                  </div>
                  <div class="row">
                      <div class="col-lg-10">
                          <form class="form-inline" role="form" action="">
                              <input id="m" type="text" class="form-control" required="required" autofocus="autofocus"
                                     placeholder="Was fällt Ihnen ein zu ...">
                      </div>
                      <div class="col-lg-2">
                          <button class="btn btn-success">Senden</button>
                          </form>
                      </div>
                  </div>
              </div>
              <hr>
              <div class="row">
                  <div class="row">
                      <span class="list-head">Gestellte Fragen</span></br>
                  </div>
                  <div class="row">
                      <div class="col-lg-10">
                          <!-- Liste der vergangenen Fragen -->
                          <ul id="messages" class="list-group"></ul>
                      </div>
                      <div class="col-lg-2">
                          <button id="save" class="btn btn-default">Save</button>
                          <a id='download' class="btn btn-success" href="/download" target="_blank"
                             style="display:none">Download</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 right">
              <div class="row">
                  <div class="col-lg-12">
                            <span class="list-head panel replies-head">Erhaltene Antworten
                                <span id="connected"><span class="badge" id="reply_count">0</span> von <span
                                        class="badge"
                                        id="connected_count">0</span> haben geantwortet</span>
                            </span><br>
                      <!-- Liste der Antworten -->
                      <ul id="replies" class="list-group"></ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer">
          <p>&copy; Sebastian Baumgarten 2015</p>
      </div>
  </div>
  <!-- /container -->
  </body>
</html>