/*Overwrite Bootstrap CSS*/
/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e3e3e3;
    /*  background-image: url("/images/pattern-9uqf.png");
        background-repeat: repeat;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Desktop */
@media (min-width: 768px) {

    .jumbotron .form-control{
        width: 60%; margin-right: 5px;
    }
}
/* Mobile */
@media (max-width: 767px) {
    /* Adjust Spaces for mobile */
    .jumbotron .form-control {
        margin-bottom: 10px;
    }

     #date {
        margin: 10px 0 2px 0;
    }

    .right {
        padding: 0;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.lead {
    font-weight: 400;
    margin-bottom: 15px;
}

.list-head {
    font-weight: 400;
    letter-spacing: 1px;
    float: left;
}

.list-group {
    margin-top: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 0;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.meta {
    margin-bottom: 10px;
    min-height: 20px;
    text-align: center;
    width: 100%;
}

.connection-ok {
    color: #00cc00;
}

.connection-broken {
    color: #dd0000;
}

#disconnected {
    text-align: center;
}

#connected {
    float: right;
}

.no-scroll-limit {
    max-height: 400px;
    overflow: auto;
}

#replyCounter {
    font-size: 1.5rem;
}

#save {
    margin-top: 5px;
    margin-bottom: 10px;
}

#download {

}

.panel {
    color: #fff;
    background-color: #333;
    padding: 15px;
}

.text-muted {
    color: #cc0044;
}

.panel .form-inline .form-control {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
}

.panel .btn {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 40px;
}

.panel .list-head {
    color: #fff;
    width: 100%;
    padding-left: 5px;
}

.panel .list-group {
    width: 100%;
}

.panel .col-lg-10,
.panel .col-lg-12,
.panel .col-lg-2 {
    padding: 0 5px;
}

.right .col-lg-12 {
    padding: 0;
}

.replies-head {
    width: 100%;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

#replies.list-group {
    margin-top: 20px;
    position: relative;
    top: 20px;
}

.row {
    margin: 0;
}

.list-group-item {
    display: inherit !important;
    color: #333;
}

.list-group-item.active:focus,
.list-group-item.active:hover,
.list-group-item.active {
    background-color: #14a5cc;
    border-color: #14a5cc;
}

.list-group-item:focus,
.list-group-item:hover {
    background-color: #14a5cc;
    border-color: #14a5cc;
    color: #fff;
}

.btn-success {
    background-color: #cc0044;
    border-color: #cc0044;
}

.btn-success:focus,
.btn-success:active,
.btn-success:hover {
    background-color: #ff0055;
    border-color: #ff0055;
}