/*Overwrite Bootstrap CSS*/
/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Desktop */
@media (min-width: 768px) {

    .jumbotron .form-control{
        width: 60%; margin-right: 5px;
    }
}
/* Mobile */
@media (max-width: 767px) {
    /* Adjust Spaces for mobile */
    .jumbotron .form-control {
        margin-bottom: 10px;
    }

     #date {
        margin: 10px 0 2px 0;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.list-head {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    letter-spacing: 1px;
}

.list-group {
    margin-top: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 15px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        max-height: 220px;
    }
}
.meta { min-height: 25px; }

.connection-ok {
    color: #00cc00;
}

.connection-broken {
    color: #dd0000;
}

#disconnected,
#connected {
    font-size: 1.5rem;
    float: right;
}

.no-scroll-limit {
    max-height: 400px;
    overflow: auto;
}

#replyCounter {
    font-size: 1.5rem;
}

#save {
    margin: 10px 10px;
}