/*Overwrite Bootstrap CSS*/

/************************** GENERAL **************************/
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e3e3e3;
    /*  background-image: url("/images/pattern-9uqf.png");
        background-repeat: repeat; */
}

.row {
    margin: 0;
}

.btn-success {
    background-color: #cc0044;
    border-color: #cc0044;
}

.btn-success:focus,
.btn-success:active,
.btn-success:hover {
    background-color: #ff0055;
    border-color: #ff0055;
}

/************************** HEADER ***************************/
.header h3 {
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.header .text-muted {
    color: #cc0044;
}

.meta {
    margin-bottom: 10px;
    min-height: 20px;
    text-align: center;
    width: 100%;
}

.connection-ok {
    color: #00cc00;
}

.connection-broken {
    color: #dd0000;
}

#disconnected {
    text-align: center;
}

#connected {
    float: right;
}

/************************** CONTENT **************************/
.panel {
    color: #fff;
    background-color: #333;
    padding: 15px;
}

.panel .btn {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 41px;
}

.panel .list-head {
    color: #fff;
    width: 100%;
    padding-left: 5px;
}

.panel .list-group {
    width: 100%;
}

.panel .col-lg-10,
.panel .col-lg-12,
.panel .col-lg-2 {
    padding: 0 5px;
}

.right {
    padding-right: 0;
}

.right .list-head,
.left .list-head {
    font-weight: 400;
    letter-spacing: 1px;
    float: left;
}

.right .list-group,
.left .list-group {
    margin-top: 5px;
}

/* LISTS */
.list-group-item {
    display: inherit !important;
    color: #333;
}

.list-group-item.active:focus,
.list-group-item.active:hover,
.list-group-item.active {
    background-color: #14a5cc;
    border-color: #14a5cc;
}

.list-group-item:focus,
.list-group-item:hover {
    background-color: #14a5cc;
    border-color: #14a5cc;
    color: #fff;
}

/************************** LEFT *****************************/
.left .lead {
    font-weight: 400;
    margin-bottom: 15px;
}

.left .form-inline .form-control {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
}

.left #save {
    margin-top: 5px;
    margin-bottom: 10px;
}

.left #download {
    padding-top: 10px;
}

@media (min-width: 1200px) {
    .left #download {
        padding-left: 8px;
    }
}

/************************** RIGHT ****************************/
/* Mobile */
@media (max-width: 1199px) {
    .right {
        padding: 0;
    }
}

.right #replyCounter {
    font-size: 1.5rem;
}

.right .col-lg-12 {
    padding: 0;
}

.right .replies-head {
    width: 100%;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.right #questions.list-group,
.right #replies.list-group {
    margin-top: 20px;
    position: relative;
    top: 20px;
}

/************************** FOOTER ***************************/
.footer {
    padding-top: 19px;
    color: #777;
}

/************************** STUDENT **************************/

.student .jumbotron {
    text-align: center;
    padding: 15px;
}

.student .jumbotron p {
    color: #333;
    margin-bottom: 0;
}

.student #questions {
    margin-bottom: 40px;
}

.student .right {
    padding-right: 15px;
    padding-left: 0;
}